services:
  bot:
    image: halloweex/keycrm-bot:latest
    container_name: keycrm-bot
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - TZ=Europe/Kyiv
    volumes:
      - ./logs:/app/logs
      - ./data:/app/data
